/*@import "nav.css";
@import "layout.css";
@import "posts.css";*/
@import "blog-layout.css";
@import "typography.css";
@import "posts.css";
#blog-main-container {
  /* set display property to grid*/
  display: grid;
  border: 0px solid #E61014;
  /* assign all view port height to container*/
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 70% 10vw;
  grid-template-areas: "logo"
    "main"
    "info";
}
#images-defilement {
  display: none;
}
#post-grid {
  display: grid;
  border: 0px solid #E61014;
  /* assign all view port height to container*/
  gap: 5px;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 80px auto 10vw;
  grid-template-areas: "image-prev image-prev  images"
    "description description images"
    "author author images";
}
#mobile-nav {
  display: none;
}
#list-menu {
  list-style-type: none;
  font-size: 9px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: 8px;
}
#list-menu li {
  margin-left: 10px;
}
.logo {
  display: flex;
  justify-content: flex-start;
}
/* Extra small devices (phones, 600px and down) */
@media(max-width: 320px) {
  body {
    font-size: 0.5em;
    padding: 2px;
    border-width: 0px;
  }
  #blog-main-container {
    /* set display property to grid*/
    display: grid;
    border: 0px solid green;
    /* assign all view port height to container*/
    gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto 10vw;
    grid-template-areas: "log logo"
      "main main"
      "info social";
  }
  #images-defilement {
    display: none;
  }
  #post-grid {
    display: grid;
    border: 0px solid #E61014;
    /* assign all view port height to container*/
    gap: 5px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 80px auto;
    grid-template-areas: "image-prev image-prev"
      "description description"
      "author author images";
  }
  .link-item:visited {
    color: #fffaf0;
  }
  .link-item:hover {
    color: #F30C0F;
  }
  .logo {
    grid-area: logo;
    text-shadow: 0px 0px rgba(242, 203, 65, 1.00);
  }
  .nav-menu {
    display: none;
    font-size: 0.5em;
  }
  .menu-item {
    font-size: 0.5em;
  }
  #mobile-nav {
    display: inline;
  }
  .link-item:visited {
    color: blue;
  }
  .link-item {
    outline: none;
    text-decoration: none;
    color: blue;
  }
  .link-item:hover {
    color: #F30C0F;
  }
}
@media (min-width: 600px) {
  body {
    font-size: 1em;
    padding: 2px;
    border-width: 0px;
  }
  #blog-main-container {
    /* set display property to grid*/
    display: grid;
    border: 0px solid red;
    /* assign all view port height to container*/
    gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px auto 10vw;
    grid-template-areas: "logo nav nav nav nav"
      "main main main main main"
      "info social social social social";
  }
  #images-defilement {
    display: inline-block;
  }
  #post-grid {
    display: grid;
    border: 0px solid #E61014;
    /* assign all view port height to container*/
    gap: 5px;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 80px auto 10vw;
    grid-template-areas: "image-prev image-prev  images"
      "description description images"
      "author author images";
  }
  #mobile-nav {
    display: none;
    grid-area: nav;
    justify-content: flex-end;
  }
  .logo {
    grid-area: logo;
    min-width: 0px;
  }
  .nav-menu {
    display: flex;
    grid-area: nav;
    justify-content: flex-end;
    font-size: 1em;
  }
  .menu-item {
    font-size: 1em;
  }
  .link-item:visited {
    color: blue;
  }
  .link-item {
    outline: none;
    text-decoration: none;
    color: blue;
  }
  .link-item:hover {
    color: #F30C0F;
  }
}
@media(min-width: 320px) and (max-width: 600px) {
  body {
    font-size: 0.8em;
    padding: 2px;
    border-width: 0px;
  }
  #blog-main-container {
    /* set display property to grid*/
    display: grid;
    border: 1px solid violet;
    /* assign all view port height to container*/
    gap: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto 10vw;
    grid-template-areas: "logo nav"
      "main main"
      "info social";
  }
  #images-defilement {
    display: none;
  }
  #post-grid {
    display: grid;
    border: 0px solid #E61014;
    /* assign all view port height to container*/
    gap: 5px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 80px auto;
    grid-template-areas: "image-prev image-prev"
      "description description"
      "author author";
  }
  .logo {
    grid-area: logo;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #mobile-nav {
    display: flex;
    grid-area: nav;
    justify-content: flex-end;
    align-items: center;
  }
  .link-item:visited {
    color: blue;
  }
  .link-item {
    outline: none;
    text-decoration: none;
    color: blue;
  }
  .link-item:hover {
    color: #F30C0F;
  }
}
@media(min-width: 600px) and (max-width: 900px) {
  body {
    font-size: 1.4em;
    padding: 2px;
    border-width: 0px;
  }
  #blog-main-container {
    /* set display property to grid*/
    display: grid;
    border: 0px solid yellow;
    /* assign all view port height to container*/
    gap: 0px;
    margin: 0px;
    padding: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px auto 10vw;
    grid-template-areas: "logo nav nav nav nav"
      "main main main main main"
      "info social social social social";
  }
  #images-defilement {
    display: inline-block;
  }
  #post-grid {
    display: grid;
    border: 0px solid #E61014;
    /* assign all view port height to container*/
    gap: 5px;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 80px auto 10vw;
    grid-template-areas: "image-prev image-prev  images"
      "description description images"
      "author author images";
  }
  .logo {
    grid-area: logo;
  }
  .nav-menu {
    grid-area: nav;
    grid-area: nav;
    justify-content: flex-end;
    font-size: 1.4em;
  }
  .menu-item {
    font-size: 1.4em;
  }
  #mobile-nav {
    display: none;
  }
  .link-item:visited {
    color: #fffaf0;
  }
  .link-item:hover {
    color: #F30C0F;
  }
  .link-item:visited {
    color: blue;
  }
  .link-item {
    outline: none;
    text-decoration: none;
    color: blue;
  }
  .link-item:hover {
    color: #F30C0F;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media(min-width: 901px) {
  body {
    font-size: 2em;
    padding: 2px;
    margin: 2px;
    border-width: 0px;
  }
  #blog-main-container {
    /* set display property to grid*/
    display: grid;
    border: 0px solid rosybrown;
    /* assign all view port height to container*/
    gap: 0px;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px auto 10vw;
    grid-template-areas: "logo nav nav nav nav"
      "main main main main main"
      "info social social social social";
  }
  #images-defilement {
    display: inline-block;
  }
  #post-grid {
    display: grid;
    border: 0px solid #E61014;
    /* assign all view port height to container*/
    gap: 5px;
    border: 0px solid coral;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 80px auto 10vw;
    grid-template-areas: "image-prev image-prev  images"
      "description description images"
      "author author images";
  }
  .link-item:visited {
    color: blue;
  }
  .link-item {
    outline: none;
    text-decoration: none;
    color: blue;
  }
  .link-item:hover {
    color: #F30C0F;
  }
  .logo {
    grid-area: logo;
    border-bottom-style: solid;
    border-bottom-width: 0px;
  }
  .nav-menu {
    grid-area: nav;
    background-color: rgba(242, 203, 65, 1.00);
    display: flex;
    justify-content: flex-end;
    font-size: 2em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .menu-item {
    font-size: 2em;
  }
  #mobile-nav {
    display: none;
  }
  .logo {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 22px;
    font-style: oblique;
    font-weight: bold;
    background-color: rgba(242, 203, 65, 1.00);
  }
}